{% extends "base.html" %}

{% block subtitle %}Dashboard{% endblock %}

{% block content %}

{% for group in groups %}

<div class="col-lg-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-briefcase fa-2x"></i>
                </div> <!-- div class="col-xs-3" -->
                <div class="col-xs-9 text-right">
                    <h3>{{group.description}}</h3>
                </div> <!-- div class="col-xs-9 text-right" -->
                
            </div> <!-- div class="row" -->
            
        </div> <!-- div class="panel-heading" -->
        
        <div class="panel-body">
 			<div class="row">
 				{% for project in group.project_group.all %}
 					<p>{{project.description}}</p>
 				{% endfor %}
 			</div>
 		</div> <!-- div class="panel-body pull-right" -->
        
        <a href="{% url 'dashboard_group' group.id %}">
        <div class="panel-footer">
            <span class="pull-left">Explore Group</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>

{% endfor %}

{% endblock %}