{% extends "base.html" %}

{% block subtitle %}Dashboard{% endblock %}

{% block content %}

{% load staticfiles %}

{% load field_properties %}


<div class="row" style="margin-bottom: 25px">
	<div class="col-lg-12">
		<button id = "show_complete_button" type="button" class="block col-lg-2" onclick="Show_Complete()"><img id="show_complete" src="{% static 'img/buttons/Gnome-colors-emblem-desktop-alt-aply-64.png' %}" alt="Completed"/><br/>Visulazza Completati</button>
		<button id = "show_supervisor_button" type="button" class="block col-lg-2" onclick="Show_Supervisor()"  {% if user == "" %} disabled {% endif %}><img id="show_supervisor" src="{% static 'img/buttons/Gnome-user-64.png' %}" alt="Assigned Projencts" {% if user == "" %} title="Non sei loggato" {% else %}title="Utente: {{user}}" {% endif %}/><br/> {% if user == "" %} Non sei loggato {% else %}Visualizza Solo Progetti {{user}}{% endif %}</button>
		<button id = "show_task_button" type="button" class="block col-lg-2" onclick="Show_Task()"  {% if user == "" %} disabled {% endif %}><img id="show_task" src="{% static 'img/buttons/Gnome-system-mytask-64.png' %}" alt="Assigned Task" {% if user == "" %} title="Non sei loggato" {% else %}title="Utente: {{user}}" {% endif %}/><br/> {% if user == "" %} Non sei loggato {% else %}Visualizza Solo Task  {{user}}{% endif %}</button>
		<button  type="button" class="block col-lg-2" onclick="location.href='{% url "project" 0  %}';"><img id="show_task" src="{% static 'img/buttons/Gnome-document-new-64.png' %}" alt="New Project"/><br/> Nuovo Progetto</button>
		<button  type="button" class="block col-lg-2" onclick="location.href='{% url "import_export_page" %}';"><img src="{% static 'img/buttons/Gnome_go_up_down-64.png' %}" alt="Import Export panel"/><br/> Import Export</button>
	</div>
</div>
{% if projects %}
<div class="row" style="margin-bottom: 10px">
	<div class="col-lg-12">
			<input type="text" class = "form-control" id = "myInput" onkeyup="myFunction()" placeholder="Inserisci Progetto,Supervisore o Gruppo..." style="width: 300px; margin: 20px; margin-left: 5px; float: right;">
			<i class="fa fa-search fa-1x" style="width: 10px; margin: 20px; margin-top: 30px; margin-right: 5px; float: right;"></i>
	</div>
</div>
 <div class="row">
    {% for obj in projects %}
	    <div class="row">
		    <div class="col-lg-12">
		       {% if obj.state|truncatewords:"2" == "99 - ..." %}
		        	<div class="panel panel-primary" id="project_{{obj.id}}" value="{{obj.description}}" style="display: none;">
		       {% else %}
		        	<div class="panel panel-primary" id="project_{{obj.id}}">
		       {% endif %}
		           {% if obj.state|truncatewords:"2" == "99 - ..." %}
		            	<div class="panel-heading clearfix"  style=" background-color : #65d046;">
		           {% else %}
		            	<div class="panel-heading">
		           {% endif %}
	                    <div class="row">
	                        <div class="col-xs-1">
	                            <button type="button" class="btn btn-default btn-xs-2" onclick="location.href='{% url "project" obj.id %}';">
	                            	<i class="fa fa-pencil fa-1x"></i>
	                            </button>
	                        </div> <!-- div class="col-xs-3" -->
	                        <span class="pull-right">
            					{% if obj.state %}
		                        	<button type="button" id ="complete_project_{{obj.id}}" value="{{obj.state}}"  class="btn btn-primary btn-xs-2" style = "background-color: white; color: black; margin: 20px; margin-right: 0px;">{{obj.state}}</button>
		                        {% else %}
		                        	<button type="button" id ="complete_project_{{obj.id}}" value="{{obj.state}}" class="btn btn-primary btn-xs-2" style = "background-color: white; color: black; margin: 20px; margin-right: 0px;">-nessuno-</button>
		                        {% endif %}
                                 <button type="button" class="btn btn-outline btn-primary btn-xs-2" onClick="change_trash_property('project_{{obj.id}}', '{% url 'project_delete' obj.id %}', 'img_{{obj.id}}')" style = "background-color: white; margin: 20px; margin-left: 0px;"><i class="fa fa-trash-o"></i></button>
                            </span>
	                        <div class="col-xs-9">
	                            <h3>{{ obj.description }}</h3>

                                {% if obj.supervisor %}
                                    <div id="supervisor_{{obj.id}}" value="project_{{obj.id}}">Supervisor: {{ obj.supervisor }}</div>
                                {% else %}
                                	<div id="nessun_supervisor_{{obj.id}}" value="project_{{obj.id}}">Supervisor: -nessuno- </div>
                                {% endif %}

								{% if obj.group %}
                                    <div id="group_{{obj.id}}" value="project_{{obj.id}}">Gruppo: {{ obj.group }}</div>
                                {% else %}
                                	<div id="nessun_group_{{obj.id}}" value="project_{{obj.id}}">Gruppo: -nessuno- </div>
                                {% endif %}

	                            <div>{{ obj.annotation }}</div>

	                        </div> <!-- div class="col-xs-9 text-right" -->
	                        
	                    </div> <!-- div class="row" -->
	                    
	                </div> <!-- div class="panel-heading" -->
	                
                   <div class="panel-body">
                        {% for sub in obj.task_project_owner.all %}
                        	{% if request.GET.filter_assegnee == "False" or sub.assigned_to.username == request.user.username or not request.GET.filter_assegnee %}
		                           {% if sub.progression|truncatewords:"2" == "99 - ..." %}
		                            	<div class="panel" id="sub_{{sub.id}}" value = "project_{{obj.id}}" style="display: none;">
		                           {% else %}
		                            	<div class="panel panel-info" id="sub_{{sub.id}}" value ="project_{{obj.id}}">
		                           {% endif %}
			                           {% if sub.progression|truncatewords:"2" == "99 - ..." %}
			                            	<div class="panel-heading clearfix"  style=" background-color : #65d046;">
			                           {% else %}
			                            	<div class="panel-heading clearfix panel-info">
			                           {% endif %}

		                             	
					                        <span class="pull-left">
												<button type="button" class="btn btn-default btn-xs"  onclick="location.href='{% url "task_project" sub.id obj.id 'dashboard' %}';"><i class="fa fa-pencil fa-1x"></i></button>
												  
					                        	<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="{{ sub.annotation }}" value="{{sub.progression}}" id="complete_sub_{{sub.id}}">
					                        		{{ sub.description }}
					                        		{% if sub.progression.id == 3 %}
					                        			</del>
					                        		{% endif %}
					                        	</button>
					                        </span>
					                        <span class="pull-right">
					                        	{% if sub.due_to %}
					                        		<button type="button" class="btn btn-default btn-xs">Due To: {{ sub.due_to }}</button>
					                        	{% endif %}
					                        	{% if sub.assigned_to %}
					                        		<button type="button" class="btn btn-default btn-xs" id="assigned_{{ sub.assigned_to }}_{{obj.description}}" value="sub_{{sub.id}}">Assigned To: {{ sub.assigned_to }}</button>
					                        	{% else %}
					                        		<button type="button" class="btn btn-default btn-xs" id="assigned_{{ sub.assigned_to }}_{{obj.description}}" value="sub_{{sub.id}}">Assigned To: -nessuno-</button>
					                        	{% endif %}
					                        	{% if sub.priority.id == 1 %}
						                        	<button type="button" class="btn btn-success btn-xs">{{sub.priority}}</button>
						                        {% elif sub.priority.id == 2 %}
						                        	<button type="button" class="btn btn-warning btn-xs">{{sub.priority}}</button>
						                        {% elif sub.priority.id == 3 %}
						                        	<button type="button" class="btn btn-danger btn-xs">{{sub.priority}}</button>
						                        {% endif %}
						                          
					                        	{% if sub.progression %}
						                        	<button type="button" class="btn btn-primary btn-xs">{{sub.progression}}</button>
						                        	{% if sub.progression.id == 3 and sub.completed_on %}
						                        		<button type="button" class="btn btn-default btn-xs">Completed On: {{ sub.completed_on }}</button>
						                        	{% endif %}
						                        {% endif %}
						                        <button type="button" class="btn btn-default btn-xs" onclick="location.href='{% url "subtask_task" 0 sub.id 'dashboard' %}';"><i class="fa fa-plus-circle fa-1x"></i></button>
						                        <button type="button" class="btn btn-outline btn-primary btn-xs" onClick="change_trash_property('sub_{{sub.id}}', '{% url 'task_delete' sub.id %}', 'img_sub_{{sub_id}}') " style = "background-color: white;"><i class="fa fa-trash-o"></i></button>
			                                                    
					                        </span>
		
		                                </div> <!-- div class="panel-heading clearfix" -->
		                                
		                                {% if sub.task_owner.all %}
		                                <div class="panel-body">
		
		                                    {% for sub2 in sub.task_owner.all %}
			                                    {% if sub2.completed %}
			                                    	<div class="panel panel-" id="sub2_{{sub2.id}}" value = "completed" style="background-color : #65d046; display: none">
			                                    {% else %}
			                                        <div class="panel panel-info" id="sub2_{{sub2.id}}" value = "workin_progress" >
			                                    {% endif %}	
			                                            <div class="panel-heading clearfix">
			                                                <span class="pull-left">
			                                                <button type="button" class="btn btn-default btn-xs" onclick="location.href='{% url "subtask_task" sub2.id sub.id 'dashboard' %}';"><i class="fa fa-pencil fa-1x"></i></button>

			                                                	<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="{{ sub2.annotation }}">{{ sub2.description }}</button>
			                                                

			                                                </span>
			                                                <span class="pull-right">
			                                                	{% if sub2.completed and sub2.completed_on %}
			                                                        <button type="button" class="btn btn-default btn-xs">Completed On: {{ sub2.completed_on }}</button>
			                                                    {% endif %}
			                                                    <button type="button" class="btn btn-outline btn-primary btn-xs" onClick="change_trash_property('sub2_{{sub2.id}}', '{% url 'subtask_delete' sub2.id %}', 'img_sub2_{{sub2.id}}')" style = "background-color: white;"><i class="fa fa-trash-o"></i></button>
			                                                    
			                                                </span>
			                                                <!-- <div class="clearfix"></div> -->
			                                            </div> <!-- div class="panel-heading clearfix" -->

			                                        </div> <!-- div class="panel panel-info" -->
		                                    {% endfor %}
		
		                                </div>  <!-- div class="panel-body" -->
		                                {% endif %}
		                                    
		                            </div> <!-- div class="panel panel-default" -->
		                            
	                    {% endif %}
	

                        {% endfor %}
                            
                    </div> <!-- div class="panel-body pull-right" -->

                    <a href="{% url 'task_project' 0 obj.id 'dashboard' %}">
                        <div class="panel-footer">
                            <span class="pull-left">Add Task</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>

                    
	            </div> <!-- div class="panel panel-primary" -->

			                                            
    {% endfor %}
	
</div>
{% else %}
    <p>Nessuna progetto presente.</p>
    <p>Se sono stati attivati dei filtri controllare di avere eseguito il login<p>
</div>
{% endif %}

<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
<script src="{% static 'css/vendor/jquery/jquery.min.js'%}"></script>
<script type="text/javascript">

var show_complete 	= false;
var show_supervisor = false;
var show_task		= false;
var actual_user		= "{{user}}";
var PrgSet			= new Set();
var PrgSearchSet	= new Set();
var Task1Set		= new Set();
var Task2Set		= new Set();
var SubSet			= new Set();
var	PrgCompleteSet 	= new Set();
var PrgTaskSet		= new Set();

$(document).ready(function() {

	var supervisor_button_list	= $('[id^="supervisor_"]');
	var project_list 			= $('[id^="project_"]');
  	var panel_list 				= $('[id^="sub_"]');
  	var sub_panel_list 			= $('div[id^="sub2_"]');
	
	for (i = 0; i < project_list.length; i++) {
		PrgSet.add(project_list[i].id);
		PrgSearchSet.add(project_list[i].id)
		PrgTaskSet.add(project_list[i].id)
		complete_button = document.getElementById("complete_" + project_list[i].id);
		if(complete_button){
			if(complete_button.value[0] != 9 && complete_button.value[1] != 9)  PrgCompleteSet.add(project_list[i].id)
		}
	}
	for (i = 0; i < panel_list.length; i++) {
		Task1Set.add(panel_list[i].id);
		complete_button = document.getElementById("complete_" + panel_list[i].id);
		if(complete_button){
			if(complete_button.value[0] != 9 && complete_button.value[1] != 9) Task2Set.add(panel_list[i].id);
		}
	}
	for (i = 0; i < sub_panel_list.length; i++) {
		if(sub_panel_list[i].getAttribute('value') != "completed") SubSet.add(sub_panel_list[i].id);
	}
});
	

function myFunction() {
  // Declare variables
  	var input, filter, panel, tr, td, i, txtValue;
  	PrgSearchSet = new Set();
  	input = document.getElementById("myInput");
  	filter = input.value.toUpperCase();
  	project_list = $('div[id^="project_"]');
  	supervisor_list = $('[id^="supervisor_"]')
	group_list = $('[id^="group_"]')
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < project_list.length; i++) {

    if (project_list[i]) {
      txtValue = project_list[i].innerText
      if (txtValue.toUpperCase().includes(filter)) {
          if(!PrgSearchSet.has(project_list[i].id)) PrgSearchSet.add(project_list[i].id);
      } 
    }
  }

  Show_Function();
}

function Show_Complete() {
	show_complete = !show_complete;
	Control_Complete();
	Show_Function();
  	if(show_complete){
		document.getElementById("show_complete").src = "{% static "img/buttons/Gnome-colors-emblem-desktop-alt-64.png" %}" ;
		document.getElementById("show_complete_button").lastChild.data = "Nascondi Completati";
	}
	else{
		document.getElementById("show_complete").src = "{% static "img/buttons/Gnome-colors-emblem-desktop-alt-aply-64.png" %}" ;
		document.getElementById("show_complete_button").lastChild.data = "Visualizza Completati";
	}
}

function Show_Supervisor() {
  	show_supervisor = !show_supervisor;
	Control_User();
	Show_Function();
  	if(show_supervisor){
		document.getElementById("show_supervisor").src = "{% static "img/buttons/Gnome-users-64.png" %}" ;
		document.getElementById("show_supervisor_button").lastChild.data = "Visualizza Tutti i Progetti";
	}
	else{
		document.getElementById("show_supervisor").src = "{% static "img/buttons/Gnome-user-64.png" %}" ;
		document.getElementById("show_supervisor_button").lastChild.data = "Visualizza Solo Progetti " + actual_user;
	}
}

function Show_Task() {
  	show_task = !show_task;
	Control_User();
	Show_Function();
  	if(show_task){
		document.getElementById("show_task").src = "{% static "img/buttons/Gnome-system-alltask-64.png" %}" ;
		document.getElementById("show_task_button").lastChild.data = "Visualizza Tutti i Task";
	}
	else{
		document.getElementById("show_task").src = "{% static "img/buttons/Gnome-system-mytask-64.png" %}" ;
		document.getElementById("show_task_button").lastChild.data = "Visualizza Solo Task " + actual_user;
	}
}

function Control_User(){
	var assigned_button_list 	= $('[id^="assigned_"]');
	var project_list 			= $('[id^="project_"]');
	var sub_panel_list 			= $('[id^="sub_"]');
	
	PrgSet			= new Set();
	Task1Set		= new Set();
	PrgAssigendTAskSet = new Set();
    if (show_supervisor) {
    	for (i = 0; i < project_list.length; i++) { 
    		if(project_list[i].innerText.includes("Supervisor: " + actual_user) && actual_user != ""){ 	
	    		if(!PrgSet.has(project_list[i].id)) PrgSet.add(project_list[i].id);	
	    	}
	    }
	}
	else{
		for (i = 0; i < project_list.length; i++) { 
			 PrgSet.add(project_list[i].id);	
		}
	}
	if (show_task) {
    	for (i = 0; i < sub_panel_list.length; i++) { 
    		if(sub_panel_list[i].innerText.includes("Assigned To: " + actual_user) && actual_user != ""){ 
		    	Task1Set.add(sub_panel_list[i].id);
		    	PrgTaskSet.add(sub_panel_list[i].value);
	    	}
	    }
	 }
	 else{
	    for (i = 0; i < sub_panel_list.length; i++) { 
    		Task1Set.add(sub_panel_list[i].id);
	   	}
	   	for (i = 0; i < project_list.length; i++) {
	   		PrgTaskSet.add(sub_panel_list[i].value);
	   	}
	}
}

function Control_Complete(){
	var complete_button_list  	= $('[id^="complete_sub_"]');
	var project_list			= $('[id^="project_"]');
  	var panel_list 				= $('[id^="sub_"]');
  	var sub_panel_list 			= $('div[id^="sub2_"]');
  	
	Task2Set 		= new Set();
	SubSet			= new Set();
	PrgCompleteSet 	= new Set();
	
	for(i = 0; i < project_list.length; i++){
		if(show_complete){
	 		if(!PrgCompleteSet.has(project_list[i].id)) PrgCompleteSet.add(project_list[i].id);
		}
		else{
		 	complete_button = document.getElementById("complete_" + project_list[i].id);
		 	console.log(complete_button.value);
		 	if(complete_button.value[0] != 9 && complete_button.value[1] != 9){
		 		if(!PrgCompleteSet.has(project_list[i].id)) PrgCompleteSet.add(project_list[i].id);
		 	}
		 }
	}
	
	
	for(i = 0; i < panel_list.length; i++){
		if(show_complete){
	 		if(!Task2Set.has(panel_list[i].id)) Task2Set.add(panel_list[i].id);

		}
		else{
		 	complete_button = document.getElementById("complete_" + panel_list[i].id);
		 	if(complete_button.value[0] != 9 && complete_button.value[1] != 9){
		 		if(!Task2Set.has(panel_list[i].id)) Task2Set.add(panel_list[i].id);
		 	}
		 }
	}
	for(i = 0; i < sub_panel_list.length; i++){
		if(show_complete){
	 		if(!SubSet.has(sub_panel_list[i].id)) SubSet.add(sub_panel_list[i].id);
	 	}
		else{
			
		 	if(sub_panel_list[i].getAttribute('value') != "completed"){
		 		if(!SubSet.has(sub_panel_list[i].id)) SubSet.add(sub_panel_list[i].id);
		 	}
		 }
	}
	
		
}	

function Show_Function(){
  	var project_list 		= $('[id^="project_"]');
  	var panel_list 			= $('div[id^="sub_"]');
  	var sub_panel_list		= $('div[id^="sub2_"]');
	PrgTaskSet 		= new Set();
	
	for (i = 0; i < sub_panel_list.length; i++) { 
   		if(SubSet.has(sub_panel_list[i].id)) sub_panel_list[i].style.display = "";
   		else sub_panel_list[i].style.display = "none";
   	}
   	
   	for (i = 0; i < panel_list.length; i++) { 
   		if(Task1Set.has(panel_list[i].id) && Task2Set.has(panel_list[i].id)){
   			if(!PrgTaskSet.has(panel_list[i].getAttribute('value'))) PrgTaskSet.add(panel_list[i].getAttribute('value'));
   			panel_list[i].style.display = "";
   		}
   		else{
   			panel_list[i].style.display = "none";
   			if (!show_task) PrgTaskSet.add(panel_list[i].getAttribute('value'));
   		}

   	}
   	
   	for (i = 0; i < project_list.length; i++) { 
   		if(PrgSet.has(project_list[i].id) && PrgSearchSet.has(project_list[i].id) && PrgCompleteSet.has(project_list[i].id) && PrgTaskSet.has(project_list[i].id)) project_list[i].style.display = "";
   		else project_list[i].style.display = "none";
   	}


}

</script>   
{% endblock %}