{% extends "base.html" %}

{% block subtitle %}Task{% endblock %}

{% block content %}

{% load static %}

<div class="col-lg-12">
    <p>
        <button type="button" class="btn btn-default col-lg-2" onClick="location.href='{% url 'task' 0 %}'"><img src="{% static "img/buttons/Gnome-document-new-64.png" %}" alt="Icona Nuovo Progetto"/><br />Nuovo Task</button>
    </p>
</div>

{% if tasks %}
    <div class="panel-body">
        <h3>Elenco Task</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Descrizione</th>
                        <th>Progetto</th>
                        <th>Data Fine</th>
                        <th>Completato Il</th>
                        <th>Assegnato A</th>
                        <th>Priorita</th>
                        <th>Progresso</th>
                        <th>Utente Creazione</th>
                        <th>Utente Modifica</th>
                        <th>Data Creazione</th>
                        <th>Data Modifica</th>
                        <!-- <th></th> -->
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                {% for obj in tasks %}
                    <tr>
                        <td><button type="button" class="btn btn-outline btn-primary btn-xs" onClick="location.href='{% url 'task' obj.id %}'"><i class="fa fa-pencil"></i></button></td>
                        <td>{{ obj.description }}</td>
                        <td>{{ obj.project }}</td>
                        <td>{{ obj.due_to }}</td>
                        <td>{{ obj.completed_on }}</td>
                        <td>{{ obj.assigned_to }}</td>
                        <td>{{ obj.priority }}</td>
                        <td>{{ obj.progression }}</td>
                        <td>{{ obj.creation_user }}</td>
                        <td>{{ obj.edit_user }}</td>
                        <td>{{ obj.creation_date }}</td>
                        <td>{{ obj.edit_date }}</td>
                        <!-- <td><button type="button" class="btn btn-outline btn-primary btn-xs" onClick="location.href='#'"><i class="glyphicon glyphicon-duplicate"></i></button></td> -->
                        <td><button type="button" class="btn btn-outline btn-primary btn-xs" onClick="location.href='{% url 'task_delete' obj.id %}'"><i class="fa fa-trash-o"></i></button></td>
                    </tr>
                {% endfor %}
    
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <p>Nessuna task presente.</p>
{% endif %}

{% endblock %}
